
  body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;

            background-color: #486a47;
             font-size: 13px; /* Tamaño de texto predeterminado */
           font-weight: 700;
font-weight: bold;
overflow: none;
        }

		 header {
            background-color: #222333;
           /* color: #345678; */
            height: 100px;
            padding: 1px 1px;
            text-align: center;
            position: relative;
        }
        .hidden {
    display: none; /* Oculta elementos */
}
#font-size-slider {
    display: none; /* Oculta elementos */
}
        #hideVideoButton {
    padding: 11px 10px;

    background-color: #007BFF; /* Color inicial */

}

.button-containe {
    display: flex;              /* Usamos flexbox para alinear elementos */
    flex-direction: column;     /* Alineamos en columna */
    gap: 10px;                 /* Espacio entre los elementos */
    padding: 10px;             /* Espacio interno */
}

.checkbox-button {
    display: flex;             /* Para que el checkbox y el label se alineen bien */
    align-items: center;       /* Centrar verticalmente el checkbox y el label */
    width: 50px;
             background-color: #28bc96;
             padding: 2px;
             border-radius: 5px;
             color: white;
}
/* Mostrar un tooltip al tocar en dispositivos móviles o al enfocarse en el elemento */
.checkbox-container[title]:hover::after,
.checkbox-container[title]:focus::after {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    z-index: 10;
    pointer-events: none; /* No bloquear la interacción */
}

/* Asegúrate de que el tooltip no se superponga al checkbox */
.checkbox-container {
    position: relative;
}

 .checkbox-container {
             display: inline-flex;
            align-items: center;
            cursor: pointer;
            padding: 10px;
            background-color: #28bc96; /* Color del botón */
            color: white;
            border-radius: 5px;
            border: none;
            font-size: 14px;
            user-select: none; /* Evitar selección de texto */
            width: 80px;
            align-items: baseline;
        }
        .title-container {
         display: flex;
            color: white;
         flex-direction: row-reverse;
         font-size: 1.5em;
         margin: 5px;
        }
input[type="checkbox"] {

             flex-direction: column;
        }
        .checkbox-button input[type="checkbox"]:checked + label {
            text-decoration: underline; /* O algún efecto visual cuando está checked */
             width: 80px;
             background-color: #a2270d;
             padding: 3px;
             border-radius: 5px;
             color: white;
        }
        .checkbox-container label {
            margin-left: 5px; /* Espacio entre el checkbox y la etiqueta */
        }
        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex: 1;
        }
        .sidebar, .content, .versicles, .content-box {
            padding: 1px;
            border: 1px solid #ccc;
            margin: 3px;
            flex: 1;
            overflow-y: auto;
        }
        .sidebar {
            flex: 1;
            max-width: 200px;
        }
        .content {
            flex: 2;
            margin: 1px;
        }


.left-content {

    flex-direction: column;
    flex: 1;
    padding: 1px;
            border: 1px solid #ccc;
            margin: 3px;
            flex: 1;
            overflow-y: auto;
}

.center-content {

    flex-direction: column;
    flex: 1;
    padding: 1px;
            border: 1px solid #ccc;
            margin: 3px;
            flex: 1;
            overflow-y: auto;
}

        .versicles {
            flex: 2;
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* Dos columnas */
            gap: 4px; /* Espacio entre columnas */
        }
        .content-box {
            flex: 3;
            position: relative; /* Para asegurar que el botón de tamaño de texto esté dentro del contenedor */
        }
        .book-item {
    padding: 10px;
    background-color: #345278;
    border: 1px solid #456;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
      font-size: 13px; /* Tamaño de texto predeterminado */
           font-weight: 700;
}
 .chapter-item {
    padding: 4px;
    background-color: #f1a457;
    border: 1px solid #456;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
 .verse-item {
    padding: 4px;
    background-color: #bbf3f7;
    border: 1px solid #456;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
 .verse-items {
    padding: 4px;
    background-color: #57f184;
    border: 1px solid #456;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.book-item:hover{
    background-color: #f0f0f0;
}
.chapter-item:hover {
   background-color: #f0f0f0;
}
.verse-item:hover {
    background-color: #f0f0f0;
}
.book-list:hover{
    background-color: #f0f0f0;
}
.chapter-list:hover {
   background-color: #f0f0f0;
}
.verse-list:hover {
    background-color: #f0f0f0;
}
.selected-verse {
    background-color: yellow; /* O cualquier color de tu preferencia */
    font-weight: bold;
}


    .verse-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta el tamaño según tus necesidades */
    gap: 10px; /* Espacio entre los ítems */
}

.verse-number {
    padding: 5px;
    font-weight: bold; /* Negrita para el número */
    text-align: center; /* Centrar texto */
    background-color: #e0e0e0; /* Color de fondo para los números */
    border-radius: 4px; /* Esquinas redondeadas */
}


        button:hover {
            background-color: #e0e0e0;
        }
        .testament-button {
            background-color: #6ba3da; /* Color para el Antiguo Testamento */
        }
        .new-testament-button {
            background-color: #df6372; /* Color para el Nuevo Testamento */
        }

        .checkbox-container {
            margin-bottom: 5px;
        }
        .search-container {
            margin-bottom: 5px;
        }
        .search-input {
            width: 96%;
            padding: 8px;
            margin-bottom: 4px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin: 0 1px;
    margin-top: 1px;
        }
        .book-list {
            display: grid;
            overflow-y: auto;  /* Permite el desplazamiento si hay mucho contenido */
            grid-template-columns: repeat(5, 1fr); /* Tres columnas */
            gap: 3px; /* Espacio entre elementos */
        }
         .verse-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* Tres columnas */
            gap: 3px; /* Espacio entre elementos */
        }

		.booxk-itevm {

			padding: 10px;
    background-color: #345278;
    border: 1px solid #456;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
        }
		#fondoCheckbox {

            width: 50px;
            background-color: #33ff9c;   /*color barra de busqueda */
            border-bottom: 2px solid #ddd;
            padding: 1px;

        }
	 #versionSelect {
            /*  white-space: pre-wrap;Mantiene los saltos de línea en el texto */
            overflow-y: auto;  /* Permite el desplazamiento si hay mucho contenido */
            height: 10%; /* Ocupa todo el espacio disponible */
            max-height: 50px; /* Define una altura máxima para permitir el desplazamiento si es necesario */

            border-radius: 4px;

	width: 120px;

            margin-bottom: 4px;


            margin: 0 1px;
    margin-top: 1px;
        }
     /*    .verse-list {
            margin-bottom: 5px;
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Una columna */
    /*        gap: 4px; /* Espacio entre elementos */
  /*      }
   /*    .verse-item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            padding: 5px;
            border: 1px solid #dde21d;
            border-radius: 4px;
			width: 99%;
        }  */

        }
        .verse-checkbox {
            margin-right: 5px; /* Espacio entre el checkbox y el texto */
        }
        .font-size-button {
            background-color: #d0ffd0; /* Color para el botón de tamaño de texto */
        }
         .copia-size-button {
            background-color: #d0ffd5; /* Color para el botón de tamaño de texto */
        }

        }
        .copy-selected {
            background-color: #d0ffd0; /* Color para el botón de tamaño de texto */
        }

        #video-search {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #33ff9c;   /*color barra de busqueda */
            border-bottom: 2px solid #ddd;
            padding: 1px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1000; /* Asegura que el reproductor esté encima de otros elementos */
        }


#filters {
    margin-bottom: 5px;
}

labelc {
    display: block;
    margin-top: 5px;
}

#chapterInput {
    margin-bottom: 5px;
	padding: 10px 5px;
	width: 50px;
}
#verseInput {
    margin-bottom: 5px;
	padding: 10px 5px;
	width: 50px;
}
input {

	padding: 10px 5px;
	width: 100px;
  /*  border: 1px solid #ddd;
            padding: 8px;*/
  margin-bottom: 4px;

            border-radius: 4px;
            margin: 0 1px;
    margin-top: 1px;
}
#font-size-slider{
    margin-bottom: 5px;
	padding: 10px 5px;
	width: 100px;
}

button {
    padding: 11px 6px;
    background-color: #007BFF;
    font-size: 14px; /* Tamaño de texto predeterminado */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0em;
    margin-top: 2px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}

#resultTitle {
   /* font-size: 1.5em;*/
}

#resultContent {
    max-height: 500px; /* Ajusta según sea necesario */
   overflow-y: auto;  /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Solo para visualización */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto predeterminado */
     text-align: right;
}
.content {
    overflow: hidden; /* Asegúrate de que no interfiera */
}
  #player-content {
          /*  white-space: pre-wrap; /* Mantiene los saltos de línea en el texto */
         /*   overflow-y: auto;  /* Permite el desplazamiento si hay mucho contenido */
            height: 100%; /* Ocupa todo el espacio disponible */
            max-height: 1000px; /* Define una altura máxima para permitir el desplazamiento si es necesario */
            font-size: 12px; /* Tamaño de texto predeterminado */
            overflow: hidden;
        }
/* .verse-content {
          /*  white-space: pre-wrap; /* Mantiene los saltos de línea en el texto */
 /*           overflow-y: auto;  /* Permite el desplazamiento si hay mucho contenido */
/*            height: 100%; /* Ocupa todo el espacio disponible */
 /*           max-height: 800px; /* Define una altura máxima para permitir el desplazamiento si es necesario */
/*            font-size: 12px; /* Tamaño de texto predeterminado *//*
    text-align: right;
 /*       }*/

.font-size-slider {
          /*  white-space: pre-wrap; /* Mantiene los saltos de línea en el texto */
            overflow-y: auto;  /* Permite el desplazamiento si hay mucho contenido */
            height: 100%; /* Ocupa todo el espacio disponible */
            max-height: 800px; /* Define una altura máxima para permitir el desplazamiento si es necesario */
            font-size: 12px; /* Tamaño de texto predeterminado */
        }

.selected {
    background-color: #007bff; /* Color de fondo para el elemento seleccionado */
    color: white; /* Color del texto para contraste */
}


.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    position: absolute; /* Para que aparezca sobre otros elementos */
    background-color: yellowgreen;
    z-index: 1000; /* Para asegurarse de que aparezca sobre otros elementos */
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0; /* Resaltar la opción al pasar el mouse */
}

        #biblie-search {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #33ff9c;   /*color barra de busqueda */
            border-bottom: 2px solid #ddd;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1000; /* Asegura que el reproductor esté encima de otros elementos */
        }

.new-testament {
    background-color: #f6d07f; /* Color de fondo del Nuevo Testamento */
    border: 2px solid #fb4b3f; /* Color de borde del Nuevo Testamento */
}

.old-testament {
    background-color: #89cbe7; /* Color de fondo del Antiguo Testamento */
    border: 2px solid #3f45fb; /* Color de borde del Antiguo Testamento */
}


.bookgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 5fr));
    gap: 3px;
    margin-top: 3px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 5fr));
    gap: 3px;
    margin-top: 3px;
    font-size: 24px;
     /*height: 750px; /* Ocupa todo el espacio disponible */
}
.bookgrid div {
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;   /*tamaño*/
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.grid div {
    border: 1px solid #ccc;
    padding: 6px;   /*tamaño*/
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.grid div:hover {
    background-color: #8fe41b;
}
.bookgrid div:hover {
    background-color: #8fe41b;
}

.book-input, .chapter-input {
    padding: 4px;
    background-color: #3a5678;
    border: 1px solid #456;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.book-item:hover, .chapter-item:hover {
    background-color: #381678;
}
#bookGrid {
    width: 100%; /* O un tamaño específico como 500px */
    overflow-y: auto;  /* Permite el desplazamiento si hay mucho contenido */
}
#chapterGrid {
    width: 100%; /* O un tamaño específico como 500px */
    overflow-y: auto;  /* Permite el desplazamiento si hay mucho contenido */
}
#verseGrid{
    width: 100%; /* O un tamaño específico como 500px */
}

select {
    padding: 9px 4px;
    background-color: #48b3a4;
    color: white;
    width: 100px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 0 1px;
    /* margin-bottom: 0px;
    position: relative;

    font-size: 16px;
    cursor: pointer;

    margin-top: 2px;*/
}

select:hover {
    background-color: #218138;
}
